<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>779311544450-6civp2ksuif29l4vcuc67cu6lk6vcejf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779311544450-6civp2ksuif29l4vcuc67cu6lk6vcejf</string>
	<key>API_KEY</key>
	<string>AIzaSyBe1DHjlN9tVwR98Ynx6xiljg134jYAdq4</string>
	<key>GCM_SENDER_ID</key>
	<string>779311544450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dientes</string>
	<key>PROJECT_ID</key>
	<string>salud-43912</string>
	<key>STORAGE_BUCKET</key>
	<string>salud-43912.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779311544450:ios:72a5a495a6e040af56dc9b</string>
</dict>
</plist>